<div class="modal fade" id="AnsModal" style="display: none; ">
        <div class="modal-header navbar navbar-static-top">
            <div class="navbar-inner" style="margin:0 5px 0 5px">
                <ul class="nav">
                    <li><a class="brand"> Answer the question </a></li>
                </ul>
            </div>
        </div>
        <form action="/answer" method="post">{% csrf_token %}
            <div class="row-fluid" style="margin-top: 5px">
                <div class="row-fluid control-group">
                    <label class="span5" for = "contents" style=" font-size:16px; margin-top: 3px; text-align:right"> Answer text &nbsp;</label>
                    <div class = "controls">
                        <textarea id = "contents" name="contents" class = "span5" style = "resize:none" rows="4" placeholder = "Type answer here" maxlength="1500"></textarea>
                    </div>
                </div>
            </div>

                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" style="float:left" value="ANSWER"/>
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                </div>

                <input type="hidden" id="hidden" name="qid" value="{{ question.id }}">
        </form>

    </div>