<!DOCTYPE html>
<html>
	<head>
		<title> Ask Abashin </title>
        {% include "sources.html" %}
	</head>
	<body>
    {% include "header.html" %}
    <div class="container-fluid">
        <div class="container-fluid span9">
            <div class="row-fluid">
                <div class="content_block container-fluid table-bordered" data-id="{{ question.id }}">
                    <div class="container-fluid span2" style="text-align:center">

                        <div style="margin-top:5px; ">
                           {% if user.id != question.author_id and user.is_authenticated %}
                                            <a class="rating_button" href="#" data-votetype="1" data-contenttype="q">
                                            <i class="icon-chevron-up"></i>
                                        </a>
                                    {% else %}
                                        <a href="#">
                                            <i class="icon-lock"></i>
                                        </a>
                                    {% endif %}
                                        <div>
                                        <h4 class="rating-table" style="font-family:Arial">{{ question.rating }}</h4>
                                        </div>
                                    {% if user.id != question.author_id and user.is_authenticated %}
                                            <a class="rating_button" href="#" data-votetype="-1" data-contenttype="q">
                                            <i class="icon-chevron-down"></i>
                                        </a>
                                    {% else %}
                                        <a href="#">
                                            <i class="icon-lock"></i>
                                        </a>
                                    {% endif %}
                        </div>
                    </div>
                    <div class="container-fluid span10">
                        <div class="row-fluid table-bordered">
                            <h3>{{ question.header }}</h3>

                            <div>
                                <p> {{ question.contents }}</p>
                            </div>
                        </div>
                        <div class="row-fluid table-bordered">
                            {% if user.is_authenticated %}
                            <a class="btn btn-info" style="margin:10px 0 10px 5px" data-toggle="modal" href="#AnsModal">Answer</a>
                            {% endif %}
                            <p class="pull-right" style="margin:13px 5px 0 0"> <strong>Question by:</strong> <a href="users?num={{ question.author.id }}"> {{ question.author }}</a></p>
                        </div>
                    </div>


                </div>
                <div class="accordion row-fluid" id="comment_on_question">

                                <div class="accordion-group">
                                    <div class="accordion-heading">

                                      <a class="accordion-toggle btn btn-info span3" style="margin:10px 0 0 5px" data-toggle="collapse" data-parent="comment_on_question" href="#comments{{ question.id }}">
                                        Comments ({{ question.commentquestion_set.count }})
                                      </a>
                                        {% if user.is_authenticated %}
                                            <a class="pull-right btn btn-info span2"  style="margin: 10px 5px 0 0" href="#QCommentModal" data-target="#QCommentModal" data-toggle="modal">Comment </a>
                                        {% endif %}

                                    </div>
                                <div id="comments{{ question.id }}" class="accordion-body collapse">
                                  <div class="accordion-inner">
                                    {% for comment in question.commentquestion_set.all %}

                                        <div class="row-fluid well span12 pull-right">
                                            <div>
                                                <blockquote style="color:#002080">{{ comment.contents }}</blockquote>
                                                <p class="row-fluid" style="text-align: right"><a href="users?num={{ comment.author.id }}">{{ comment.author }}</a> | {{ comment.date }} &nbsp;</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                  </div>
                                </div>
                              </div>

                </div>
                <p> <strong>Answers</strong> ({{ question.answer_set.count }}):</p>
                {% for answer in answers %}
                        <div class="content_block {% if answer.correct %} alert-success {% endif %}container-fluid table-bordered" data-id="{{ answer.id }}">

                                <div class="container-fluid span2" style="text-align:center">

                                    <div style="margin-top:5px; ">
                                        {% if user.id != answer.author_id and user.is_authenticated %}
                                        <a class="rating_button" href="#" data-votetype="1" data-contenttype="a">
                                            <i class="icon-chevron-up"></i>
                                        </a>
                                        {% else %}
                                        <a href="#">
                                            <i class="icon-lock"></i>
                                        </a>
                                        {% endif %}
                                        <div>
                                        <h4 class="rating-table" style="font-family:Arial">{{ answer.rating }}</h4>
                                        </div>
                                        {% if user.id != answer.author_id and user.is_authenticated %}
                                        <a class="rating_button" href="#" data-votetype="-1" data-contenttype="a">
                                            <i class="icon-chevron-down"></i>
                                        </a>
                                        {% else %}
                                        <a href="#">
                                            <i class="icon-lock"></i>
                                        </a>
                                        {% endif %}
                                    </div>

                                </div>
                                <div class="container-fluid span10">
                                    <div class="row-fluid correct_block" data-id="{{ answer.id }}">
                                    <p>{{ answer.contents }}</p>

                                        <div style="text-align: right">
                                            {% if user.is_authenticated and question.author_id == user.id and answer.author_id != user.id %}
                                            <a class="correct_button" href="#">
                                                <i class="correct_toggle {% if not answer.correct %}icon-ok {% else %} icon-remove {% endif %}"></i>
                                            </a>
                                            {% endif %}
                                            <p> <strong>Answer by:</strong> <a href="users?num={{ answer.author.id }}">{{ answer.author }} </a></p>
                                            <p class="muted"> {{ answer.date }}</p>
                                        </div>
                                    </div>
                                    <div class="accordion row-fluid" id="comments_on_answer{{ answer.id }}">

                                    <div class="accordion-group">
                                        <div class="accordion-heading " >
                                             <a class="accordion-toggle btn btn-info span3" style="margin:11px 0 0 5px" data-toggle="collapse" data-parent="comments_on_answer{{ answer.id }}" href="#comments_row{{ answer.id }}">
                                                Comments ({{ answer.commentanswer_set.count }})
                                             </a>
                                        </div>
                                    <div id="comments_row{{ answer.id }}" class="accordion-body collapse">
                                        <div class="accordion-inner ">
                                        {% for comment in answer.commentanswer_set.all %}
                                            <div class="row-fluid well span12 pull-right" style="color:black">
                                                    <div>
                                                    <blockquote style="color:#002080">{{ comment.contents }}</blockquote>
                                                    <p class="row-fluid" style="text-align: right"><a href="users?num={{ comment.author.id }}">{{ comment.author }}</a> | {{ comment.date }} &nbsp;</p>
                                                    </div>
                                            </div>
                                            {% endfor %}
                                            {% if user.is_authenticated %}
                                            <form id="comanswer" class="form-horizontal" action="/acomment" method="post" style="color:black; text-align: right">
                                                {% csrf_token %}
                                                <div class = "row-fluid control-group" >
                                                    <div class = "controls">
                                                    <input type="hidden" id="hidden" name="a_id" value="{{ answer.id }}">
                                                    <textarea style="resize: none" class = "span12" type = "text" placeholder = "Comment text" maxlength="500" id = "contents" name="contents" required></textarea>
                                                    </div>
                                                    <div class="pull-right">
                                                    <button class="btn btn-info" style="margin-top: 10px" type="submit">COMMENT</button>
                                                    </div>
                                                </div>

                                            </form>
                                            <script>
                                                $('#comanswer').validate();
                                            </script>
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                </div>

                            </div>
                {% endfor %}
            </div>
	    </div>
        {% include "sidebar.html" %}
       
    </div>

	</body>
    {% include "ansmodal.html" %}
    {% include "qcommentmodal.html" %}
        
</html>