<div class="navbar navbar-inverse navbar-static-top">
			<nav class="navbar-inner">
				<ul class="nav">
                    <li class="brand hovar" onclick="document.location.href='/'">Ask Abashin, if you dare</li>
                    <li class="divider-vertical"></li>
                    <li><a href="/">Questions</a></li>
                    <li><a href="/answers">Answers</a></li>
                </ul>
                <ul class="nav pull-right">
                {% if not user.is_authenticated %}
                    <li style="text-align:right"><a href="/login?next={{ request.get_full_path }}">Log in </a></li>
                    <li style="text-align:right"><a href="/signup?next={{ request.get_full_path }}">Sign up</a></li>
                {% else %}
                    <li><a href="/logout/">Log out</a></li>
                    <li class="brand hovar" onclick="document.location.href='/users?num={{ user.id }}'">{{ user.username }}</li>
                {% endif %}
                </ul>
			</nav>
</div>