<div class="navbar navbar-inverse navbar-static-top">
			<nav class="navbar-inner">
				<ul class="nav">
                    <li class="brand hovar" onclick="document.location.href='/'">Ask Abashin, if you dare</li>
                    <li class="divider-vertical"></li>
                    <li><a href="/">Questions</a></li>
                    <li><a href="/answers">Answers</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li style="text-align:right"><a href="login.html"> Log in here </a></li>
                </ul>
			</nav>
</div>