<div class="accordion row-fluid" id="comment_on_question">

            <div class="accordion-group">
                <div class="accordion-heading">

                  <a class="accordion-toggle btn btn-info span3" data-toggle="collapse" data-parent="comment_on_question" href="#comments{{ question.id }}">
                    Comments ({{ question.commentquestion_set.count }})
                  </a>
                    {% if user.is_authenticated %}
                        <a class="pull-right btn btn-info span2"  style="margin-top: 10px" href="#QCommentModal" data-target="#QCommentModal" data-toggle="modal">Comment </a>
                    {% endif %}

                </div>
            <div id="comments{{ question.id }}" class="accordion-body collapse">
              <div class="accordion-inner">
                {% for comment in question.commentquestion_set.all %}
                    <div class="row-fluid">
                    <div class="well">
                        <div class="span12">
                            {{ comment.contents }}
                            <p class="pull-right"><strong>{{ comment.author.username }}</strong> | {{ comment.date }}</p>
                        </div>
                    </div>
                    </div>
                {% endfor %}
              </div>
            </div>
          </div>

         </div>