<div class="container-fluid span3">
            <form class="navbar-form">
                <input type="text" class="span" placeholder="Search"/>
            </form>
            <div id="tags" class="table-bordered">
                <label class="muted" style="font-size:16px; padding-top: 5px"> Tags: </label>
                <a class="tag-size-1" href="http://tp.mail.ru/tag/ABBYY/">ABBYY</a>
                <a class="tag-size-10" href="http://tp.mail.ru/tag/C++/">C++</a>
                <a class="tag-size-2" href="http://tp.mail.ru/tag/django/">django</a>
                <a class="tag-size-1" href="http://tp.mail.ru/tag/Google/"style="font-size:10px;>Google</a>
                <a class="tag-size-5" href="http://tp.mail.ru/tag/HighLoad/">HighLoad</a>
                <a class="tag-size-9" href="http://tp.mail.ru/tag/Java/">Java</a>
                <a class="tag-size-6" href="http://tp.mail.ru/tag/Mail.Ru/">Mail.Ru</a>
                <a class="tag-size-4" href="http://tp.mail.ru/tag/Microsoft/" style="font-size:21px;>Microsoft</a>
                <a class="tag-size-2" href="http://tp.mail.ru/tag/Python/">Python</a>
                <a class="tag-size-2" href="http://tp.mail.ru/tag/rcc/" style="font-size:19px;>rcc</a>
                <a class="tag-size-2" href="http://tp.mail.ru/tag/UML/">UML</a>
                <a class="tag-size-4" href="http://tp.mail.ru/tag/web-технологии/">web-технологии</a>
                <a href="http://tp.mail.ru/tag/C++/" style="font-size:19px;">C++</a>
                <a href="http://tp.mail.ru/tag/django/" style="font-size:10px;">django</a>
                <a href="http://tp.mail.ru/tag/Google/" style="font-size:21px;">google</a>
                <a href="http://tp.mail.ru/tag/HighLoad/" style="font-size:10px;">HighLoad</a>
                <a href="http://tp.mail.ru/tag/web-технологии/" style="font-size:21px;">WEB</a>
                <a href="http://tp.mail.ru/tag/Python/" style="font-size:10px;">Python</a>
            </div>
            <div class="row-fluid table-bordered">
                <p class="muted" style="font-size:16px">Latest registered users:</p>
                {% for uuser in uusers %}
                <div class="container-fluid">
                    <a href="users?num={{ uuser.id }}">{{ uuser.username }}</a>
                </div>
                {% endfor %}
            </div>
            <div class="row-fluid table-bordered">
                <p class="muted" style="font-size:16px">Top users:</p>
                {% for tuser in top_users %}
                <div class="container-fluid">
                    <a href="users?num={{ tuser.id }}">{{ tuser.username }}</a>
                    <p class="pull-right {% if tuser.profile.rating > 0 %}alert-success{% else %}alert-info{% endif %}">{{ tuser.profile.rating }}</p>
                </div>
                {% endfor %}
            </div>
        </div>